@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
    font-family: 'Major Mono Display', monospace;
    background-image: url("Assets/Pics/wood.jpg");
}

.c {
    text-align: center;
}

    