@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    background-image: rgba(0, 0, 0, 0.2), url("Assets/Pics/wood.jpg");
}

.c {
    text-align: center;
}

    